<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/10912bc5-faa6-4def-884f-fcd4210683ab/resourcegroups/OnlineJewelry20201016121128ResourceGroup/providers/Microsoft.Web/sites/OnlineJewelry</ResourceId>
    <ResourceGroup>OnlineJewelry20201016121128ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://onlinejewelry.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://onlinejewelry.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>0e2217b8-21aa-403a-8a78-c046bf481511</ProjectGuid>
    <MSDeployServiceURL>waws-prod-sn1-165.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>OnlineJewelry</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$OnlineJewelry</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>